---
const { href, title, description, crop } = Astro.props;
const width = 450;
const height = 300;
const resize = crop ? 'smartcrop' : 'fit';
const thumbHref = `${href}?nf_resize=${resize}&w=${width}&h=${height}`;
---

<article class="thumb">
  <a class="image" href={href} >
    <img src={thumbHref} alt={title} width={width} height={height} />
  </a>
  <h2>{title}</h2>
  <p>{description}</p>
</article>
